<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Nuevo Producto</h1>
      <%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder: "Ingresa el nombre del producto" %>
        </div>
        <div class="form-group">
          <%= f.number_field :price, class: "form-control input-lg", placeholder: "Ingresa el precio del producto" %>
        </div>
        <div class="form-group">
          <% Category.all.each do |category| %>
          <div class="checkbox">
            <label>
               <%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category), id: dom_id(category) %>
               <%= label_tag dom_id(category), category.name %>
            </label>
          </div>
          <% end %>
        </div>
        <div>
          <%= f.submit form_title, class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>  
    </div>
  </div>
</div>